:root {
  --primary-color: #1b2d7e;
  --secondary-color: #f2f1e8;
  --tertiary-color: #6e7dd4;
  --border-color: #94cfcf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
}
/*Start of Header formatting*/
header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.introduction {
  display: flex;
}
h1 {
  font-size: 40px;
  margin-left: 20px;
  margin-top: 15px;
}

header img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

header nav {
  padding: 35px 0 0 0;
}
header nav ul li {
  display: inline;
}

header a {
  padding: 15px 20px;
  text-decoration: none;
  color: var(--secondary-color);
}
header a:hover {
  font-weight: bold;
}
/*Start of Hero formatting*/
.hero {
  background-image: url(./images/code-image.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  border-bottom: 5px solid var(--border-color);
  border-top: 5px solid var(--border-color);
}
.hero h2 {
  padding: 0 5px;
  font-size: 30px;
  background-color: initial;
}
/* Start of formatting for main content--About Me and My Work*/

section {
  display: flex;
  justify-content: space-between;
}
section h2,
footer h2 {
  font-size: 40px;
  text-align: right;
  padding: 30px 15px 0 10px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  width: 20%;
}
section div {
  padding: 30px;
}

/*Start formatting for just the about me section*/

.about article {
  display: flex;
  position: relative;
  padding: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 80%;
  border-left: 5px solid var(--border-color);
}
.about article p {
  font-size: 20px;
  line-height: 1.25;
  text-align: justify;
}
/* Start of formatting the My Work Section */
.work article {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  color: var(--primary-color);
  width: 80%;
  border-left: 5px solid var(--border-color);
  justify-content: space-between;
}
.work article a {
  display: flex;
  border: 5px solid var(--border-color);
  width: 300px;
  height: 300px;
  text-decoration: none;
  color: var(--secondary-color);
  justify-content: space-between;
  align-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}
.work article a img {
  opacity: 0.5;
}
.work article a:hover img {
  opacity: 1;
  transition: 1s;
}
.work article a div {
  position: relative;
  right: 290px;
  top: 225px;
  margin: 0;
  padding: 0;
}
.first {
  width: 590px !important;
}
.first div {
  right: 580px !important;
}
.work article div p {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 150px;
  height: 40px;
  border: 2px solid var(--border-color);
}

/* start of formmatting for footer/contact info */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 40px 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 80%;
  border-left: 5px solid var(--border-color);
}
footer div p {
  display: inline;
  padding: 10px 5px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  font-weight: bold;
}
@media screen and (max-width: 1104px) {
  header div {
    width: 100%;
  }
  header nav {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 940px) {
  section,
  footer {
    display: block;
  }

  section h2,
  footer h2 {
    text-align: center;
    width: 100%;
  }
  .hero h2 {
    text-align: right;
  }
  .about article,
  .work article,
  footer div {
    width: 100%;
    border-left: none;
    border-top: 5px solid var(--border-color);
  }
}
@media screen and (max-width: 696px) {
  .work article {
    justify-content: center;
  }
}
