:root {
  --primary-color: #1b2d7e;
  --secondary-color: #f2f1e8;
  --tertiary-color: #6e7dd4;
  --border-color: #94cfcf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
}
/*Start of Header formatting*/
header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.introduction {
  display: flex;
}
h1 {
  font-size: 60px;
  margin-left: 20px;
}

header img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

header nav {
  padding: 35px 0 0 0;
}
header nav ul li {
  display: inline;
}

header a {
  padding: 15px 20px;
  text-decoration: none;
  color: var(--secondary-color);
}
header a:hover {
  font-weight: bold;
}
/*Start of Hero formatting*/
.hero {
  background-image: url(./images/code-image.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  width: 100%;
  height: 200px;
  border-bottom: 5px solid var(--border-color);
  border-top: 5px solid var(--border-color);
}
.hero h2 {
  padding: 0 5px;
  font-size: 30px;
  background-color: initial;
}
/* Start of formatting for main content--About Me and My Work*/

section {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 40px;
}
section h2 {
  font-size: 50px;
  text-align: right;
  padding-left: 15px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}
section div {
  padding: 30px;
}

/*Start formatting for just the about me section*/
.about {
  display: flex;
}
.about article {
  display: flex;
  position: relative;
  padding: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.about article p {
  font-size: 25px;
  line-height: 1.25;
  text-align: justify;
}
/* start of formmatting for footer/contact info */
footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
}
footer h2 {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}
footer div {
  padding: 30px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  font-weight: bold;
  opacity: 0.5;
}
