:root {
  --primary-color: #0d698b;
  --secondary-color: #f2f1e8;
  --tertiary-color: #e34234;
  --border-color: #050533;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: garamond;
}

header {
  padding: 50px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--border-color);
}

header nav ul li {
  display: inline;
}

header a {
  padding: 15px 20px;
  text-decoration: none;
  color: var(--secondary-color);
}
header a:hover {
  font-weight: bold;
}
section {
  display: flex;
}
section div {
  padding: 20px;
}
p {
  font-size: 25px;
}
footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
}
footer div {
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  font-weight: bold;
}
.hero {
  background-image: url(./images/code-image.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: 80%;
  width: 100%;
  height: 200px;
}
.hero h2 {
  padding: 5px 50px;
}
.footer-content {
  display: flex;
  font-size: 21px;
}
.section-title {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  width: 15%;
  border-right: 5px solid var(--border-color);
}
.section-content {
  width: 85%;
}
.section-content img {
  width: 400px;
  height: 400px;
}
.section-content img:hover {
  border: 2px solid var(--secondary-color);
}

.about-me-content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
